body {
  max-width: 800px;
  background: black;
  color: white;
  font-family: Lato, sans-serif;
  font-weight: 300;
  margin: auto;
  padding: 10px;
}
.bg {
  filter: blur(10px);
  position: fixed;
  height: 100%;
  right: 0;
  z-index: -1;
}
#chart_div, #table_div {
  color: black
}
h1, h2 {
  font-family: Oswald, sans-serif;
  font-weight: 400;
}
.intro * {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
blockquote {
  border-left: 1px solid white;
  padding-left: 10px;
  margin: 10px;
}
